@charset "UTF-8";
:root {
  --main-title-color: #ffffff;
  --secondary-title-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --background-grey: #f5f4fa;
  --card-set-gap: 30px;
  --card-background-color: #ffffff;
  --card-boarder-color: #eeeeee;
}

body {
  color: var(--secondary-title-color);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn,
button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

/*------------CONTAINER-----------------*/
.container {
  max-width: 1170px;
  margin: 0 auto;
}

/*------------------HEADER-----------------*/
.header {
  padding: 24px 0 25px 0;
}

.header-nav {
  width: 53.8%;
  padding-left: 93px;
}

.header-nav .logo {
  display: inline-block;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-right {
  width: 31.6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 60px;
}

.header-email, .header-tel {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.header-email:hover, .header-email:focus, .header-tel:hover, .header-tel:focus {
  color: var(--accent-color);
}

.header-link {
  color: var(--secondary-title-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.header-link:hover::after {
  background: #2196F3;
}

.header-link:hover, .header-link:focus {
  color: var(--accent-color);
}

.header-link::after {
  content: '';
  position: absolute;
  display: inline-block;
  z-index: 2;
  width: 100%;
  height: 4px;
  left: 0;
  right: 0;
  bottom: -33px;
  background: transparent;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*------------------LOGO-------------------*/
.logo {
  width: 14.5%;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.logo-span-accent {
  color: var(--accent-color);
}

/*-----------------HERO-----------------*/
.hero {
  background: url(../images/bgheader.jpg);
  padding: 200px 0;
  position: relative;
  z-index: 0;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #2F303A60;
  z-index: 1;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
  width: 696px;
  margin: 0 auto 30px auto;
  position: relative;
  z-index: 2;
}

/*----------------BUTTON---------------*/
.btn-hero {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
  background-color: var(--accent-color);
  display: block;
  margin: 0 auto;
  width: 200px;
  padding: 10px 32px;
  position: relative;
  z-index: 2;
}

/*------------FEATURES-----------------*/
.features {
  padding: 94px 0;
}

.features-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features-block {
  width: 270px;
}

.features-block-icon {
  text-align: center;
  margin-bottom: 30px;
  background: #F5F4FA;
  border-radius: 4px;
  padding: 25px 0;
}

.features-title {
  margin-bottom: 10px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}

.features-text {
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  line-height: 24px;
}

.features-block-icon img {
  width: auto;
  display: inline-block;
}

/*------------ABOUT-----------------*/
.about {
  padding-bottom: 94px;
}

.about-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}

.about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-item {
  width: 370px;
  position: relative;
}

.about-item-descript {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 27px 0;
  text-align: center;
  background: rgba(47, 48, 58, 0.8);
  font-weight: bold;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

/*------------TEAM-----------------*/
.team {
  padding: 94px 0;
  background-color: #F5F4FA;
}

.team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team-item {
  width: 270px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item-content {
  margin-top: 30px;
  margin-bottom: 30px;
}

.team-item-link img {
  width: auto;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  margin-bottom: 10px;
}

.team-text {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.item-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 206px;
  margin: 16px auto 0px;
}

.item-social-link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-social-link:hover, .item-social-link:focus {
  background: #2196F3;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.social-icon {
  fill: #AFB1B8;
}

.team-item-link:hover .social-icon,
.team-item-link:focus .social-icon {
  fill: #FFFFFF;
}

/*------------ CLIENTS -----------------*/
.clients {
  padding: 95px 0;
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  margin-bottom: 50px;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clients-item {
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  border: 1px solid #AFB1B8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  cursor: pointer;
}

.clients-item:hover {
  border: 1px solid #2196F3;
}

.clients-icon {
  fill: #AFB1B8;
}

.clients-item:hover .clients-icon,
.clients-item:focus .clients-icon {
  fill: #2196F3;
}

/*------------FOOTER-----------------*/
.footer {
  padding: 60px 0;
  background-color: #2f303a;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer-logo {
  color: var(--main-title-color);
  margin-bottom: 20px;
  display: block;
}

.footer-link {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  font-style: normal;
}

.footer-item:nth-child(2) .footer-link,
.footer-item:last-child .footer-link {
  color: #ffffff60;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-title {
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
  margin: 10px 0 20px 0;
}

.footer-item-link {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #ffffff1a;
}

.footer-item-link {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #ffffff1a;
}

.footer-item-link .social-icon {
  fill: var(--main-title-color);
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscribe-input {
  outline: none;
  border: 1px solid #ffffff4d;
  padding: 15px 16px 15px 16px;
  width: 358px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  background: transparent;
  filter: drop-shadow(0px 4px 4px #00000026);
  -webkit-filter: drop-shadow(0px 4px 4px #00000026);
}

::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

:-ms-input-placeholder {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

::-ms-input-placeholder {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

::placeholder {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-btn {
  width: 205px;
  padding: 8px 28px 9px 29px;
  margin-left: 12px;
  background: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px #00000026;
          box-shadow: 0px 4px 4px #00000026;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}

.send-icon {
  margin-left: 10px;
}

/* Стили для portfolio.html */
.portfolio {
  padding-top: 94px;
  border: 1px solid #ECECEC;
}

.gallery-button {
  color: var(--secondary-title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  background: var(--background-grey);
  border-radius: 4px;
  padding: 6px 22px;
  cursor: pointer;
}

.gallery-menu li:not(:last-child) {
  margin-right: 8px;
}

.gallery-button:hover,
.gallery-button:focus {
  color: var(--main-title-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*------------GALLERY MENU-----------------*/
.gallery-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

/*------------CARD SET-----------------*/
.card-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 64px;
}

.gallery-item {
  width: 370px;
  background-color: var(--card-background-color);
  outline: 1px solid var(--card-boarder-color);
  margin-bottom: 30px;
  cursor: pointer;
}

.gallery-item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-thumb {
  position: relative;
  overflow: hidden;
}

.card-overlay {
  position: absolute;
  bottom: -300px;
  background: rgba(33, 150, 243, 0.9);
  z-index: -1;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--card-background-color);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.card-content {
  padding: 20px 24px;
}

.card-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
}

.card-text {
  margin-top: 4px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.gallery-item:hover .card-overlay {
  bottom: 0;
  z-index: 2;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

/* Стили модального окна */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visability 250ms linear;
  -webkit-transition: opacity 250ms linear, visability 250ms linear;
  -moz-transition: opacity 250ms linear, visability 250ms linear;
  -ms-transition: opacity 250ms linear, visability 250ms linear;
  -o-transition: opacity 250ms linear, visability 250ms linear;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 528px;
  height: 580px;
  background-color: #fff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 40px;
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  margin-bottom: 12px;
}

.modal-form-field {
  width: 100%;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.modal-form-field:not(:last-child) {
  margin-bottom: 10px;
}

.modal-form-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
  height: 40px;
}

.modal-form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modal-form-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 11px 12px 11px 42px;
  width: 100%;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message {
  width: 100%;
  margin-top: 4px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 12px 16px;
  resize: none;
}

.modal-form-message::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-checkboox-lable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  margin-top: 10px;
  color: var(--main-text-color);
}

.modal-form-checkboox-lable::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #2a2a2a;
  cursor: pointer;
  margin-right: 7px;
  border-radius: 4px;
}

.modal-form-checkbox:checked + .modal-form-checkboox-lable::before {
  background-size: contain;
  background-position: center;
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url("../images/icon-check.svg");
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.close-btn-icon {
  width: 11px;
}

.close-btn:hover .close-btn-icon {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.accept-policy-link {
  color: var(--accent-color);
}

.button-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-btn {
  cursor: pointer;
  width: 200px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 30px;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px #00000026;
          box-shadow: 0px 4px 4px #00000026;
  padding: 10px 55px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.visually-hidden {
  position: absolute;
  padding: 0;
  border: 0;
  height: 0;
  width: 0;
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */