:root {
   --main-title-color: #ffffff;
   --secondary-title-color: #212121;
   --main-text-color: #757575;
   --accent-color: #2196f3;
   --background-grey: #f5f4fa;
 
 
   --card-set-gap: 30px;
   --card-background-color: #ffffff;
   --card-boarder-color: #eeeeee;
 }